.editor-bar,
.item-toolbar {
    position: absolute;
    display: none;
    z-index: 9;
}

.item-toolbar {
    background-color: blueviolet;
}

.edit-resume {
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}